# build output
dist/
# generated types
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
documents/Graduate School Options, CS Student_.docx
.gitignore
documents/Xnip2025-09-24_17-53-46.jpg
.gitignore
documents/Top 50 HCI_UX Master's Programs.docx
.gitignore
documents/Top UX School.pdf
